.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 100px;
  margin: 200px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.title{
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

/* .dropdown{
  padding-left: 10%;
  position: relative;
  width:100%;
} */

.choose{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  position: absolute; 
  padding-left: 3%;
  top: 60%; 
  left: 13%;  
}

.states{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  position: absolute; 
  padding-left: 5%;
  margin-top: 50pt;
  margin-left: 100pt;
  top: 70%; 
  left: 8%; 
  width: 20%; 
  height: 300px;
}

.jobs{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  position: absolute; 
  padding-left: 5%;
  margin-top: 50pt;
  margin-left: 100pt;
  top: 70%; 
  left: 33%; 
  width: 20%; 
  height: 300px;
}

.skills{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  position: absolute; 
  padding-left: 5%;
  margin-top: 50pt;
  margin-left: 50%;
  top: 70%; 
  left: 30%; 
  width: 20%; 
  height: 30px;
}

html{
  background-color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1%;
  text-align: left;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 0px;
}
/* 
tr:nth-child(even) {
  background-color: #dddddd;
} */